modules = ["rust-stable", "python-3.12", "c-clang14", "bash"]
[nix]
packages = ["tree", "llvm", "clang", "cmake", "gcc", "openssl", "pkg-config", "libclang", "randomx"]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "QTC Blockchain"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "qtc_test"

[[workflows.workflow]]
name = "QTC Blockchain"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run --bin qtcd -- --help"

[[workflows.workflow]]
name = "qtc_test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run -- --help"
